<div class="fav-poke">
  <h1 class="text-center">Favorite Pokemon</h1>
  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h2><%= pokemon.name %></h2>
    </div>
  <% }); %>
</div>